*{
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
}

body{
font-family: Garamond, arial;
background-color: #e3ebef;
font-size: 100%;
width:80vw;
margin: 0 auto;
text-align: center;
}

header{
	width: 100%;
	padding: 30px;
	font-size: 150%;
	background-color: #897aef;
	color:#d3d0e8;
}

ul {
	width: 100%;
	font-size: 120%;
	background-color: #b5abfc;
}

ul li{
	margin: 0 auto;
	display: inline-block;
	width: 22%;
	padding: 20px 10px;
	list-style-type: none;
	cursor:pointer;
}

ul li:hover{
	background-color: #7663f9;
	color: #d3d0e8;
}
 section{
 	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-between;
	}

section div {
	flex: 1 1 200px;
	text-align: justify;
	vertical-align: top;
	padding: 10px;
}
#tab1{background-color: #8e2693;}
#tab2{background-color: #2d5ca3;}
#tab3{background-color: #39ba51;}
#tab4{background-color: #ede634;}

@media (max-width:1224px){

body{
width:90vw;
	}
}

@media (max-width:850px){

body{
width:100vw;
font-size: 95%;
}
section div  {
	padding:10px;
}
}


@media (max-width:768px){

body{
font-size: 90%;
	}
}

@media (max-width:600px){

section{
	flex-flow: column wrap;
}
section div{
	width: 100%;
	flex-basis: initial;
}
 ul li{
 	width: 100%;
 	display: block;
	padding:8px;
	background-color: #b2ebff;
	}
header{
	padding: 20px;
}
section div {
	padding: 5px;
}
}